<!DOCTYPE html>
<html ng-app="homeApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    @Styles.Render("~/Content/css")
    
    @RenderSection("styles",required: false)
</head>
<body>
    <div class="container-fluid off-to-left">
        <h3>jefware</h3>
    </div>
    @RenderBody()

    <script src="~/Scripts/angular.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
